<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 shadow-sm py-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <i class="far fa-5x fa-circle-check mb-4 text-success"></i>
                                <h3>Register Success</h3>
                                <a href="javascript:void(0)" routerLink="/" class="btn btn-success">Ok</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>