<div id="carouselExample" class="carousel slide mb-5">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/banner/photo21@2x.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/banner/photo21@2x.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/banner/photo21@2x.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h1>4 <span class="text-primary">EASY</span> STEP</h1>
                                <p>NON AVL COMPANY PROFILE SUBMISSION</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <h5>Step 1</h5>
                                <i class="fa fa-4x fa-floppy-o mb-3"></i>
                                <h6>Submit</h6>
                                <p>
                                    Company Profile <br>
                                    Product Catalog
                                </p>
                            </div>
                            <div class="col text-center">
                                <h5 class="text-primary">Step 2</h5>
                                <i class="fa fa-4x fa-user-plus text-primary mb-3"></i>
                                <h6 class="text-primary">Approve</h6>
                            </div>
                            <div class="col text-center">
                                <h5 class="text-success">Step 3</h5>
                                <i class="fa fa-4x fa-sign-in text-success mb-3"></i>
                                <h6 class="text-success">Login</h6>
                            </div>
                            <div class="col text-center">
                                <h5 class="text-danger">Step 4</h5>
                                <i class="fa fa-4x fa-hourglass-half text-danger mb-3"></i>
                                <h6 class="text-danger">Wait for</h6>
                                <p>
                                    Registration <br>
                                    Request
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <!-- Story -->
                <div class="block block-rounded shadow-sm mb-3">
                    <div class="block-content p-0 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-md-5 overflow-hidden d-flex align-items-center">
                                <a href="javascript:void(0)" routerLink="/news/detail">
                                    <img class="img-fluid img-link"
                                        src="../../assets/images/photos/photo19.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="px-4 py-3">
                                    <h4 class="mb-1">
                                        <a class="text-dark text-decoration-none" href="javascript:void(0)">News 1</a>
                                    </h4>
                                    <!-- <div class="fs-sm mb-2">
                                        <a href="">Melissa Rice</a> on March 16, 2019 ·
                                    </div> -->
                                    <p class="mb-0">
                                        Anam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat...
                                        <a href="javascript:void(0)" routerLink="/news/detail">Read on</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Story -->

                <!-- Story -->
                <div class="block block-rounded shadow-sm mb-3">
                    <div class="block-content p-0 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-md-5 overflow-hidden d-flex align-items-center">
                                <a href="javascript:void(0)" routerLink="/news/detail">
                                    <img class="img-fluid img-link"
                                        src="../../assets/images/photos/photo22.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="px-4 py-3">
                                    <h4 class="mb-1">
                                        <a class="text-dark text-decoration-none" href="javascript:void(0)">News 2</a>
                                    </h4>
                                    <!-- <div class="fs-sm mb-2">
                                        <a href="">Jose Parker</a> on March 13, 2019 ·
                                    </div> -->
                                    <p class="mb-0">
                                        Anam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat...
                                        <a href="javascript:void(0)" routerLink="/news/detail">Read on</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Story -->

                <!-- Story -->
                <div class="block block-rounded shadow-sm mb-3">
                    <div class="block-content p-0 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-md-5 overflow-hidden d-flex align-items-center">
                                <a href="javascript:void(0)" routerLink="/news/detail">
                                    <img class="img-fluid img-link"
                                        src="../../assets/images/photos/photo25.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="px-4 py-3">
                                    <h4 class="mb-1">
                                        <a class="text-dark text-decoration-none" href="javascript:void(0)">News 3</a>
                                    </h4>
                                    <!-- <div class="fs-sm mb-2">
                                        <a href="">Megan Fuller</a> on March 6, 2019 ·
                                    </div> -->
                                    <p class="mb-0">
                                        Anam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat...
                                        <a href="javascript:void(0)" routerLink="/news/detail">Read on</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Story -->

                <!-- Story -->
                <div class="block block-rounded shadow-sm mb-3">
                    <div class="block-content p-0 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-md-5 overflow-hidden d-flex align-items-center">
                                <a href="javascript:void(0)" routerLink="/news/detail">
                                    <img class="img-fluid img-link"
                                        src="../../assets/images/photos/photo6.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="px-4 py-3">
                                    <h4 class="mb-1">
                                        <a class="text-dark text-decoration-none" href="javascript:void(0)">News 4</a>
                                    </h4>
                                    <!-- <div class="fs-sm mb-2">
                                        <a href="">Jack Greene</a> on March 21, 2019 ·
                                    </div> -->
                                    <p class="mb-0">
                                        Anam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat...
                                        <a href="javascript:void(0)" routerLink="/news/detail">Read on</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Story -->

                <!-- Story -->
                <div class="block block-rounded shadow-sm mb-3">
                    <div class="block-content p-0 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-md-5 overflow-hidden d-flex align-items-center">
                                <a href="javascript:void(0)" routerLink="/news/detail">
                                    <img class="img-fluid img-link"
                                        src="../../assets/images/photos/photo9.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="px-4 py-3">
                                    <h4 class="mb-1">
                                        <a class="text-dark text-decoration-none" href="javascript:void(0)">News 5</a>
                                    </h4>
                                    <!-- <div class="fs-sm mb-2">
                                        <a href="">Barbara Scott</a> on June 5, 2019 ·
                                    </div> -->
                                    <p class="mb-0">
                                        Anam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat...
                                        <a href="javascript:void(0)" routerLink="/news/detail">Read on</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button class="btn btn-primary btn-hero mb-3">Read More</button> -->
                <!-- END Story -->
            </div>
        </div>
    </div>
</section>