@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}/* You can add global styles to this file, and also import other style files */
html,body {
    font-family:  Poppins,Helvetica,"sans-serif" !important;
}